<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    <%- partial('home/sidemenu') %>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
  <%- partial('home/dashboard') %>
  </div>
</div>  