<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    <%- partial('sidemenu') %>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
  	<div class="overviewStat">
		<div class="ovStat">
			<i class="fa fa-bar-chart"></i>
			<div class="ovCount">987</div>
			<div class="ovTitle">Open Invoices</div>		
		</div>
		<div class="ovStat">
			<i class="fa fa-pie-chart"></i>
			<div class="ovCount">987</div>
			<div class="ovTitle">OverDue</div>		
		</div>
		<div class="ovStat">
			<i class="fa fa-signal"></i>
			<div class="ovCount">987</div>
			<div class="ovTitle">Last Paid</div>		
		</div>
	</div>
  	<section class="section-card-wide mdl-card mdl-shadow--2dp">
  		<%- partial('../timesheet/timesheet_table') %>
  	</section>
  </div>
</div> 



 


  

