/*Nav*/
header .menuActions{
}
.menuActions li{
	display: inline-block;
    margin: 0 7px;
    cursor:pointer;
}
.menuActions .userAvatar{
	border-left: 2px dotted #aaa;
    padding: 0px 8px;
}
.userAvatar img{
width: 30px;
    border-radius: 50px;
    height: 30px;
    box-shadow: 0px 0px 3px #ccc;
    margin-right:3px;
}
.userAvatar .uaName{
	display: inline-block;
}

/*body*/
main.mdl-layout__content{
    color: #5e5e5e;
    background-color: #edecec;
    font-family: noto-sans;	
}

/*main layout*/
.overviewStat{
text-align: center;
}
main section{
    margin: 20px 10px;	
}
.section-card-wide{
	width:98%;
}
.section-card-body{
	   margin: 10px 20px 30px;
}

/*side menu */
.sideMenu{
	list-style: none;
    padding-left: 0;
    margin: 0;
}
.sideMenu .mdl-list__item{
	padding: 10px;
    cursor: pointer;
}
.sideMenu i{
    margin-right: 10px;
}


.ovStat{
display: inline-block;
    width: 31%;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 10px;
    border-radius: 4px;
    background: #009688;
    padding: 5px;
    color: #fff;
    text-align: left;
    padding: 5px 10px;
}
.ovStat .ovCount{
	font-size: 25px;
}
.ovStat .ovTitle {
}
.ovStat i{
	float: right;
    vertical-align: top;
    font-size: 45px;
    opacity: 0.8;
    margin: 5px 5px 0;
}



