
<form id="returnTsRow" action="admin/flagRow" method="POST">
	<div class="form-group">
	    <label>Comments</label>
	    <textarea class="form-control" rows="3" name="comment"></textarea>
	</div>
</form>